//--------------------------------------------------------------
 // Normal header/masthead (logo + nav)
//--------------------------------------------------------------

#masthead
  .section-inner
    .masthead-logo
      img(src="https://placehold.it/150x75")
    nav.main-nav
      ul
        li
          a(href="#heroes") Heroes
        li
          a(href="#features") Features
        li
          a(href="#products") Products
