//--------------------------------------------------------------
 // Full-width element with text overlay
//--------------------------------------------------------------

section#features-text
  .section-inner
    h3.features-text-headline Feature Box with Text Overlay and Button
    h4.features-text-subheadline Aenean pharetra libero a sodales iaculis. Fusce maximus commodo felis, ultrices commodo nibh posuere eget
    a.button Take Action
    a.button-inverse Take Action
    a.button-ghost Take Action
    a.button-ghost-inverse Take Action
