//--------------------------------------------------------------
 // Vertically-aligned featured elements (text + button)
//--------------------------------------------------------------

section#features-vertical
  .section-inner
    header
      h2.features-header Features (Vertical)
    .features-group
      .features-title
        h3 Feature 1 Title
      .features-subtitle
        h4 Nullam vel lorem arcu. Nullam ac felis laoreet, auctor quam eget, faucibus purus.
      .features-description
        p Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vulputate magna laoreet diam consectetur, sit amet tincidunt risus sodales. Donec consectetur erat eget nibh pulvinar lacinia.
      .features-button
        a.button(href="#") Learn More
    .features-group
      .features-title
        h3 Feature 2 Title
      .features-subtitle
        h4 Nullam vel lorem arcu. Nullam ac felis laoreet, auctor quam eget, faucibus purus.
      .features-description
        p Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vulputate magna laoreet diam consectetur, sit amet tincidunt risus sodales. Donec consectetur erat eget nibh pulvinar lacinia.
      .features-button
        a.button(href="#") Learn More
    .features-group
      .features-title
        h3 Feature 3 Title
      .features-subtitle
        h4 Nullam vel lorem arcu. Nullam ac felis laoreet, auctor quam eget, faucibus purus.
      .features-description
        p Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vulputate magna laoreet diam consectetur, sit amet tincidunt risus sodales. Donec consectetur erat eget nibh pulvinar lacinia.
      .features-button
        a.button(href="#") Learn More
