section#features-large-image-text
  .section-inner
    header.features-large-image-text-header
      h2 Feature Image with Text
    .features-large-image-text-image
      img(src="https://placehold.it/800")
    .features-large-image-text-text
      .feature-text
        header
          h4.feature-text-headline Some feature headline
        article
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lectus sit amet augue blandit convallis. Aenean non ante tellus. Vestibulum ultricies enim ac sapien egestas, vitae feugiat ipsum accumsan. Quisque sollicitudin risus in libero suscipit pellentesque. Pellentesque sollicitudin justo ut ante commodo, a pellentesque tellus semper.
          a(href="#") Learn More
      .feature-text
        header
          h4.feature-text-headline Some feature headline
        article
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lectus sit amet augue blandit convallis. Aenean non ante tellus. Vestibulum ultricies enim ac sapien egestas, vitae feugiat ipsum accumsan. Quisque sollicitudin risus in libero suscipit pellentesque. Pellentesque sollicitudin justo ut ante commodo, a pellentesque tellus semper.
          a(href="#") Learn More
      .feature-text
        header
          h4.feature-text-headline Some feature headline
        article
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lectus sit amet augue blandit convallis. Aenean non ante tellus. Vestibulum ultricies enim ac sapien egestas, vitae feugiat ipsum accumsan. Quisque sollicitudin risus in libero suscipit pellentesque. Pellentesque sollicitudin justo ut ante commodo, a pellentesque tellus semper.
          a(href="#") Learn More
