//--------------------------------------------------------------
 // Product grid (CSS Grid Layout w/Flexbox fallback)
//--------------------------------------------------------------

section#product-grid
  .section-inner
    header
      h2 Products
    .product-grid
      .product-group
        .product-image
          img(src="https://placehold.it/200x275")
        .product-text
          .product-title
            h3 Product 1
          .product-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae consectetur velit. Etiam id aliquet turpis. Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        .product-button
          a.button(href="#") Purchase
          a.button-ghost(href="#") Purchase
      .product-group
        .product-image
          img(src="https://placehold.it/200x275")
        .product-text
          .product-title
            h3 Product 2
          .product-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae consectetur velit. Etiam id aliquet turpis. Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        .product-button
          a.button(href="#") Purchase
          a.button-ghost(href="#") Purchase
      .product-group
        .product-image
          img(src="https://placehold.it/200x275")
        .product-text
          .product-title
            h3 Product 3
          .product-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae consectetur velit. Etiam id aliquet turpis. Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        .product-button
          a.button(href="#") Purchase
          a.button-ghost(href="#") Purchase
      .product-group
        .product-image
          img(src="https://placehold.it/200x275")
        .product-text
          .product-title
            h3 Product 4
          .product-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae consectetur velit. Etiam id aliquet turpis. Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        .product-button
          a.button(href="#") Purchase
          a.button-ghost(href="#") Purchase
      .product-group
        .product-image
          img(src="https://placehold.it/200x275")
        .product-text
          .product-title
            h3 Product 5
          .product-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae consectetur velit. Etiam id aliquet turpis. Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        .product-button
          a.button(href="#") Purchase
          a.button-ghost(href="#") Purchase
      .product-group
        .product-image
          img(src="https://placehold.it/200x275")
        .product-text
          .product-title
            h3 Product 6
          .product-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae consectetur velit. Etiam id aliquet turpis. Curabitur lobortis dui urna, at volutpat mi iaculis id. Integer eget ex purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        .product-button
          a.button(href="#") Purchase
          a.button-ghost(href="#") Purchase
