//--------------------------------------------------------------
 // Hero with media element (two-up)
//--------------------------------------------------------------

#hero-two-up.flex-center
  .section-inner.two-up
    h1.hero-text Two-Up Hero with Media Element
    .hero-image
      img(src="https://placehold.it/300")
