//--------------------------------------------------------------
 // Hero image with text overlay
//--------------------------------------------------------------

#hero-normal.flex-center
  .section-inner
    h1.hero-text Hero image with text overlay
