//--------------------------------------------------------------
 // Normal footer (copyright + logo + social)
//--------------------------------------------------------------

footer#footer-normal
  .section-inner
    .footer-logo
      img(src="https://placehold.it/150x75")
    nav.footer-nav
      ul
        li
          a(href="#heroes") Heroes
        li
          a(href="#features") Features
        li
          a(href="#products") Products
